{% extends "base.html" %}

{% block content %}

  <h1>Buggies</h1>

{% for buggy in buggies %}
  <table>
   <tr>
     <td>ID:</td> <td> {{ buggy['id'] }} </td>
    </tr>
   <tr>
     <td>Wheels:</td> <td> {{ buggy['qty_wheels'] }} </td>
    </tr>
   <tr>
     <td>Tyre type:</td> <td> {{ buggy['tyres'] }} </td>
    </tr>
   <tr>
     <td>Number of tyres:</td> <td> {{ buggy['qty_tyres'] }} </td>
    </tr>
   <tr>
     <td>Primary motive power:</td> <td> {{ buggy['power_type'] }} </td>
    </tr>
   <tr>
     <td>Primary motive power units:</td> <td> {{ buggy['power_units'] }} </td>
    </tr>
   <tr>
     <td>Auxhiliary motive power:</td> <td> {{ buggy['aux_power_type'] }} </td>
    </tr>
   <tr>
     <td>Auxhiliary motive power units:</td> <td> {{ buggy['aux_power_units'] }} </td>
    </tr>
   <tr>
     <td>Number of hamster boosters:</td> <td> {{ buggy['hamster_booster'] }} </td>
    </tr>
   <tr>
     <td>Armour type:</td> <td> {{ buggy['armour'] }} </td>
    </tr>
   <tr>
     <td>Attack type:</td> <td> {{ buggy['attack'] }} </td>
    </tr>
   <tr>
     <td>Number of attacks:</td> <td> {{ buggy['qty_attacks'] }} </td>
    </tr>
   <tr>
     <td>Fireproof:</td> <td> {% if buggy['fireproof']==1 %} True {% elif buggy['fireproof']==0 %} False {% endif %} </td>
    </tr>
   <tr>
     <td>Insulated:</td> <td> {% if buggy['insulated']==1 %} True {% elif buggy['insulated']==0 %} False {% endif %} </td>
    </tr>
   <tr>
     <td>Antibiotic:</td> <td> {% if buggy['antibiotic']==1 %} True {% elif buggy['antibiotic']==0 %} False {% endif %} </td>
    </tr>
   <tr>
     <td>Banging sound system:</td> <td> {% if buggy['banging']==1 %} True {% elif buggy['banging']==0 %} False {% endif %} </td>
    </tr>
   <tr>
     <td>Race computer algorithm:</td> <td> {{ buggy['algo'] }} </td>
    </tr>
   <tr>
     <td>Flag color:</td> <td> {{ buggy['flag_color'] }} </td>
    </tr>
   <tr>
     <td>Flag secondary color:</td> <td> {{ buggy['flag_color_secondary'] }} </td>
    </tr>
   <tr>
     <td>Flag pattern:</td> <td> {{ buggy['flag_pattern'] }} </td>
    </tr>
   <tr>
     <td>Total cost:</td> <td> {{ buggy['total_cost'] }} </td>
    </tr>
   <tr>
     <td colspan="2">
      <div class="tablespacer">
        <a class="button" href="/edit/{{ buggy['id'] }}"> Edit me! </a>
        <a class="button" href="/json/{{ buggy['id'] }}"> Get JSON </a>
        <a class="button" href="/delete/{{ buggy['id'] }}"> Delete</a>
      </div>
      </td>
    </tr>
  </table>
{% endfor %}
  <p>
    <a href="/" class="button">Back to home page</a>
  </p>

{% endblock %}
