{% extends "base.html" %}

{% block content %}

  <h1>
    Buggy Editor: James Edition (with all new <strong>Funky Mode</strong>)
  </h1>
<body>
  <div class="spacer">
    <a href="/new" class="button">Make buggy</a>
    <a href="/buggy" class="button">Show buggy</a>
    <a href="/poster" class="button">Editor Info (Poster!)</a>
  </div>

  <p>
    Introducing the greatest buggy editor man has ever seen.* Create as many buggies as you wish,
    they'll be stored in a neat little database and the JSON for them can even be fetched!**
    <br>
    Once you're done creating, grab that JSON and login to the <strong><a href="{{ server_url }}">race server</a></strong>
    and enter your buggy into the next race.***
  </p>
  <p>
    Make sure that buggy is tournament legal - most rulings should be handled automatically, but 
    it's always important to make sure!
  </p>
  <div style="position: absolute; bottom: 0px; left: 100px;height: 175px; width:500px">
    <p style= "color:#bababa;">
    *Claim is not legally binding. Please do not sue.
    <br>
    **50% of the time, your buggies will be stored safe and sound all the time. Unconfirmed non-zero percent chance of sudden combustion of data.
    <br>
    ***Winning is not guaranteed by using this buggy editor. Again, please do not sue.
    </p>
  </div>
  <img src="../static/roadent.png" class="roadent">
</body>
{% endblock %}
